<div class="well">
  <%= form_for @project do |f| %>
    <%= f.label :title,'Title' %>
    <%= f.text_field :title, :class => 'form-control', :placeholder => "Title"  %><br>
    <%= f.label :description,'Description' %>
    <%= f.text_area :description, :class => 'form-control', :placeholder => "Description"  %><br>
    <%= f.label :link,'Link to Hub' %>
    <%= f.text_field :link, :class => 'form-control', :placeholder => "Link"  %><br>
    <div class="field form-text-small">
      <%= f.file_field :image, class: 'center-image-button' %>
    </div>
    <%= f.submit :class => "btn btn-primary" %>
  <% end %>
</div>
