<div class="profile">

  <span class="h2-black">Profile</span>

      <p>I have been a web designer for several years and continually strive to present quality design as well as new technology into my web projects. I'm committed to learning new tools, languages and skills. My focus lately has been Ruby on Rails, but I constantly strive to learn more. I have a skill set that includes both front-end design and back-end development. I believe it's important for web sites to function efficiently as well as capture the attention of the target audience. With my experience I believe I would be a great asset to your company.</p>

      <p>View my Github projects: https://github.com/jrinard</p>


        <span class="h2-black">Recent Projects</span>

        <% if current_user %>
        <div class="pull-right"><%= link_to "New Project", new_project_path, :class => "btn btn-primary" %></div>
        <% end %><br><br>
          <div class="panel panel-custom">
            <% if @projects.any? %>
                <% @projects.each  do |project| %>
                  <div class="panel-heading">
                    <span class="project-text"> <%= project.title %></span>
                    <div class="pull-right">
                      <%= project.link %>
                    </div>
                  </div>
                  <div class="panel-body">
                    <%= image_tag project.image, :class => "image-size img-responsive" %>
                    <br>
                    <div class="detail_button btn btn-sm btn-primary">View Summary</div>
                    <div class="details">
                       <span class=""> <br><%= project.description %></span>
                      </div>
                    <br><br>
                    <% if current_user %>
                      <%= link_to "Edit",  edit_project_path(project), :class => "btn btn-primary btn-sm" %>
                      <%= link_to "Delete Project",  project_path(project), :class => "btn btn-danger btn-sm",  :data => {:confirm => "Are you sure?",:method => "delete"} %>
                    <% end %>
                  </div>
            <% end %>
            <% else %>
              <p>There are no projects</p>
            <% end %>
          </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="well">
            <%= link_to "View Complete", :class => "btn btn-primary", :complete_list => "complete_list"%> |
            <%= link_to "View Starred", :class => "btn btn-primary", :starred_list => "starred_list"%>
        <!-- VIEW COMPLETE LIST -->
            <% if @complete_list === true %><br>
              <span class="h2-black">All My Github Projects</span>
              <% @repo_list.each do |repo| %>
                <li>
                  <% if repo['name'] != "Guides" %> <!-- hiding guides repo -->
                      <%= link_to repo['name'], repo['html_url'] %>
                  <% end %>
                </li>
              <% end %>
              Only 100 are shown at this time - <a href="https://github.com/jrinard?tab=repositories">Here</a> to view more
            <% end %>
        <!-- VIEW STARRED LIST -->
            <% if @complete_list === false %><br>
              <span class="h2-black">Starred Github Projects</span>
              <% @repo_list.each do |repo| %>
                <li>
                  <% if repo['name'] != "Guides" %> <!-- hiding guides repo -->
                    <% if repo['stargazers_count'] > 0 %>
                      <%= link_to repo['name'], repo['html_url'] %>
                        | <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= repo['stargazers_count'] %>
                      <% end %>
                    <% end %>
                  <% end %>
                </li>
            <% end %>
          </div>
        </div> <!-- col -->

        </div>
