<div class="col-xs-12">
  <div class="flex-container">
    <div class="flex-block">
      <br><br>

      <div class="form well">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Email"%>
          </div>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="field form-text-small">
              <%= f.check_box :remember_me, :class => "" %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="actions center">
            <%= f.submit "Log in", :class => "btn-lg btn-primary" %>
          </div>
        <% end %>
        <div class="form-text-small center">
          <%= render "devise/shared/links" %>
        </div>
      </div>


    </div><!-- flex-block end -->
  </div><!-- flex-container end -->
</div><!-- col end -->
